<span style="margin:5px 5px 5px 5px">
    <a href="/administration/create-session/">Create Session</a>
</span>
<span style="margin:5px 5px 5px 5px">
    <a href="/administration/view-sessions/">View Sessions</a>
</span>
<span style="margin:5px 5px 5px 5px">
    <a href="/administration/create-account/">Create Account</a>
</span>
<span style="margin:5px 5px 5px 5px">
    <a href="/administration/view-accounts/">View Accounts</a>
</span>
<span style="margin:5px 5px 5px 5px">
    <a href="/administration/select-session/">Assign Students to Session</a>
</span>