<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Create Account</title>
    <script>
        function validateCreateAccount(){
            return true;
        }
    </script>
</head>
<body>
{% include 'admin_menu.html' %}
<h1>Create Account</h1>
{{ ret.message }}
<form action="" method="post">
{% csrf_token %}
    <table>
        <tr>
            <td>Phone</td>
            <td><input type="number" required name="phone" min="1000000000" max="9999999999"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" onclick="return validateCreateAccount()">Create</button> </td>
        </tr>
    </table>


</form>
</body>
</html>