{% load static %}
<div>
    <span style="margin:5px 5px 5px 5px"><a href="/my/account/">My Information</a></span>
    <span style="margin:5px 5px 5px 5px"><a href="/my/completed-courses/">Completed Courses</a></span>
    <span style="margin:5px 5px 5px 5px"><a href="/my/enrollments/">Upcoming Enrollments</a></span>
    <span style="margin:5px 5px 5px 5px"><a href="/logout/">Logout</a></span>
    <span style="margin:5px 5px 5px 5px"><a href="/"><img src="{% static 'bakery_logo.png' %}"></a></span>
</div>