{% extends 'base.html' %}
{% load static%}
{% block content %}
<h1>Reset Password</h1>
{{ ret.message }}
{{ error }}
<form action="/login/reset-password/" method="post">
{% csrf_token %}
    <table>
        <tr>
            <td>Phone<SUP   >*</SUP></td>
            <td>
                {{ phone }}
                <input type="hidden" name="phone" value="{{phone}}">
            </td>
        </tr>
        <tr>
            <td>Password<SUP>*</SUP></td>
            <td><input type="password" required name="password" minlength="3"></td>
        </tr>
        <tr>
            <td>Confirm Password<SUP>*</SUP></td>
            <td><input type="password" required name="password_confirm" minlength="3"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" onclick="return validateCreateAccount()">Submit</button> </td>
        </tr>
    </table>
    </form>
    <span style="margin:5px 5px 5px 5px"><a href="login">Login</a></span>
{% endblock %}